.button {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-padding: 10;
    -fx-background-color: #778DA9;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 3, 0.0, 0, 1);
}

.button:hover {
    -fx-background-color: #415A77;
}

.root {
    -fx-font-size: 14px;
    -fx-font-family: "Times New Roman";
    -fx-background-color: #E0E1DD;
}

.label {
    -fx-font-size: 14pt;
    -fx-font-family: "Times New Roman";
    -fx-text-fill: #1B263B;
}

.titre {
    -fx-font-size: 20pt;
    -fx-font-family: "Times New Roman";
    -fx-text-fill: #1B263B;
}
.infos{
    -fx-font-size: 16pt;
    -fx-font-family: "Roboto";
    -fx-text-fill: #749bed;
}
.cache{
    visibility: hidden;
}
.petit{
    -fx-font-size: 12pt;
    -fx-font-family: "Times New Roman";
    -fx-text-fill: #1B263B;
    -fx-font-weight: bold;
}

.combo-box-base {
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, #edebeb;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 3px, 3px, 2px, 1px;
}

.combo-box {
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, #edebeb;

}

.chart-pie {
    -fx-stroke: black; /* Couleur du contour */
    -fx-stroke-width: 2px; /* Épaisseur du contour */
}

.chart-legend {
    -fx-background-color: transparent;
}

.chart-legend-item {
    -fx-text-fill: black;
}
.important{
    -fx-background-color:  #C95050
}
.important:hover{
    -fx-background-color: #B34040;

}
.valider{
    -fx-background-color:  #50C950
}
.valider:hover{
    -fx-background-color: #40B340;
}
.nonValider{
    -fx-background-color:  #C95050
}
.nonValider:hover {
    -fx-background-color: #B34040;
}
